**/node_modules
**/input.js
**/output.js
*.test.js
test$.js
packages/esbuild-import-plugin
packages/transform-project
packages/gogocode-vue-playground
packages/gogocode-element-playground
packages/gogocode-core/umd